<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA_Compatible" content = "IE-Edge">
        <meta name = "viewport" content  = "width=device-width, initial-scale = 1.0"> 
        <title>Monthly Calendar Page</title>

        <link rel="stylesheet" href="../public/css/monthly_styles.css">
        <script src="https://kit.fontawesome.com/a9c3ea6bcb.js" crossorigin="anonymous"></script>
        <script src = "../public/js/monthly.js"></script>
    </head>

    <body>
        <!-- Create navbar in header-->
        <header>
            <div class = "nav_container">
                <!--Create and insert a Logo to Replace Title?-->
                <nav class = "navbar">
                    <label class = "logo">Task Tracker</label>
                    <ul>
                        <li class = "nav_link"><a href = "events">Events</a></li>
                        <li class = "nav_link"><a class = "active" href = "monthly">Monthly</a></li>
                        <li class = "nav_link"><a href = "/">Weekly</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Create Calendar -->
        <h1>Monthly Planner</h1>

    </body>

</html>